[submodule "libs/chosen"]
	path = libs/chosen
	url = git://github.com/harvesthq/chosen.git
[submodule "libs/backbone.layoutmanager"]
	path = libs/backbone.layoutmanager
	url = git://github.com/tbranyen/backbone.layoutmanager.git
[submodule "libs/backbone.routefilter"]
	path = libs/backbone.routefilter
	url = git://github.com/boazsender/backbone.routefilter.git
[submodule "libs/almond"]
	path = libs/almond
	url = git://github.com/jrburke/almond.git
[submodule "libs/jquery.iframe-transport"]
	path = libs/jquery.iframe-transport
	url = git://github.com/cmlenz/jquery-iframe-transport.git
[submodule "libs/jquery.timeago"]
	path = libs/jquery.timeago
	url = git://github.com/rmm5t/jquery-timeago.git
[submodule "libs/less"]
	path = libs/less
	url = git://github.com/cloudhead/less.js.git
[submodule "libs/lodash"]
	path = libs/lodash
	url = git://github.com/bestiejs/lodash.git
[submodule "libs/backbone.queryparams"]
	path = libs/backbone.queryparams
	url = git://github.com/jhudson8/backbone-query-parameters.git
[submodule "libs/requirejs"]
	path = libs/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "libs/backbone"]
	path = libs/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "libs/bootstrap"]
	path = libs/bootstrap
	url = git://github.com/twitter/bootstrap.git
